include ../partials/header.pug

style.
  .col{
  margin:0px;
  padding: 0px;
  }
  .wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat( auto-fit, minmax(1000px, 7fr) );
  grid-template-rows: repeat( auto-fit, minmax(200px, 1fr) );
  grid-auto-flow: row;
  }
  .image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: fill;
  }
  .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  object-fit: fill;
  }
  .text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  }

#grid.wrapper
  if(schedule_list)
    each option,j in schedule_list
      .col
        table.table
          tr
          th=`Schedule ${j+1}`
          each course in option
            tr
              td=`Class name: ${course.course_title} ${course.course_subject}`
              td=`Start time: ${course.meeting_time.start.getHours()}:${course.meeting_time.start.getMinutes()}`
              td=`End time: ${course.meeting_time.end.getHours()}:${course.meeting_time.end.getMinutes()}`
              td=`Days ${course.days}`
 

include ../partials/footer.pug
